@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Rubik:ital,wght@0,300;0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

$primary-purple: #521262;
$secondary-purple: #6639A6;
$primary-blue: #3490DE;
$secondary-blue: #6FE7DD;
$accent-orange: #FFC107;

body {
  font-family: 'Playfair Display SC', serif;
}

.fullContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer a {
  text-decoration: none;
  color: inherit;
}

footer a:hover {
  color: $primary-blue;
}

.mainContent {
  flex: 1;
}

.mainContent:before {
  content: "";
  background: rgb(223, 223, 224);
  background: radial-gradient(circle, rgba(223, 223, 224, 1) 0%, rgba(247, 248, 249, 1) 50%);
  opacity: 0.75;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

footer {
  min-height: 5vh;
}

#backend {
  color: $accent-orange;
  font-style: italic;
}

#frontend {
  color: $secondary-blue;
  font-style: italic;
}

.logo {
  margin-left: 10px;
  margin-top: 10px;
  height: auto;
  width: 150px;
}

#talkButton {
  border-radius: 25px;
  padding-left: 25px;
  padding-right: 25px;
  background-color: $primary-blue;
  transition: 0.5s;
}

#talkButton:hover {
  background-color: $secondary-purple;
  border-color: $secondary-purple;
}

.myNav-link {
  color: black !important;
  font-size: 1.2rem;
  transition: 0.75s;
}

.myNav-link:hover {
  color: $secondary-purple !important;
  font-weight: bold;
}

.myNav-item {
  margin-left: 20px;
  margin-right: 20px;
  text-decoration: underline;
}
